{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="{% static 'ext/css/materialize.min.css' %}" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}" />

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8">
  <title>Historic Times</title>
</head>

<body class="grey darken-4 blue-grey-text text-lighten-5">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <a href="{% url 'home' %}">
          <img id="logo" src="{% static 'logo/logo.png' %}" alt="Logo" />
        </a>

        <label id="label-explain" class="blue-grey-text text-lighten-5 center">
          This website displays historic events that happened at a specific time (hour and minute, locally).<br>
          For example the end of WWI hostilities at 11am in 1918, feel free to add events !
        </label>

        <label id="label-made" class="blue-grey-text text-lighten-5 center">Made with ❤️ by
          <a href="https://github.com/ThaNico/HistoricTimes" target="_blank">ThaNico</a></label>
      </div>
    </div>

    <div class="row">
      <div id="mainColumn" class="col s12 m12 l12">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

  <script type="text/javascript" src="{% static 'ext/js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'ext/js/materialize.min.js' %}"></script>
  {% block custom_script %}
  <script type="text/javascript">
    $(document).ready(function () {
      M.AutoInit()
    })

    $.ajaxSetup({
      headers: { "X-CSRFToken": '{{ csrf_token }}' }
    });

    {% if message_success %}
    M.toast({ text: "{{ message_success }}", classes: "green" })
    {% elif message_error %}
    M.toast({ text: "{{ message_error }}", classes: "red" })
    {% endif %}
  </script>
  {% endblock %}
</body>

</html>