#logo {
  max-width: 280px;
  margin: 0 auto;
  margin-top: 1rem;
  display: block;
}

#time-container {
  width: 200px;
  font-weight: bold;
  font-size: 4rem;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.time-separator {
  vertical-align: text-bottom;
  color: #fff;
}

.time-separator:not(.blink) {
  color: grey;
}

.time,
input {
  font-family: sans-serif;
  color: #222222;
  background-color: #fff !important;
  border-radius: 4px !important;
  padding: 0px 4px !important;
  text-align: center;
}

input {
  padding: 0px 2px !important;
}

#specific-hour,
#specific-minute {
  width: 35px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

#specific-search {
  margin-left: 5px;
}

#specific-time {
  margin-top: 1rem;
}

#specific-time label {
  font-style: italic;
}

#specific-time p {
  margin-top: 5px;
}

#events-container {
  font-size: 0.95rem;
  word-break: break-word;
}

.event-text {
  margin-bottom: 0;
}

.event blockquote {
  border-left: 4px solid #999999;
  padding-left: 0.4rem;
}

.event-source:hover {
  text-decoration: underline;
}

#play-pause-container {
  margin: 0 auto;
  width: 40px;
  margin-bottom: 1rem;
}

.btn-events {
  margin: 0 auto;
  margin-bottom: 0.5rem;
  display: block;
  width: 100px;
}

.blink {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

.time-container-bloc {
  position: relative;
}

.time-mover {
  position: absolute;
  color: white;
  font-size: 26px;
  line-height: 1.5rem;
  height: 1rem;
}

.time-mover:hover {
  opacity: 0.4;
  cursor: pointer;
}

.time-mover-down {
  transform: rotate(180deg);
  bottom: -23px;
}

.time-mover-hours {
  left: 30%;
}

.time-mover-minutes {
  left: 37%;
}

.time-mover-minutes.time-mover-up {
  top: -10px;
}

.h-captcha {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

#label-explain {
  font-size: 11px;
  display: block;
  width: 100%;
}

#label-made {
  width: 100%;
  display: block;
  padding-top: 0.5rem;
}

.center {
  text-align: center;
}
