{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col s12 offset-m2 m8 offset-l2 l8">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn waves-effect waves-light blue btn-events" type="submit">
                Create
            </button>

            <a class="waves-effect waves-teal btn-flat btn-events blue-text" href="{% url 'home' %}">Go back</a>
        </form>
    </div>
</div>
{% endblock %}