{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div id="time-container">
    <span id="hours" class="time"></span>
    <span class="time-separator">:</span>
    <span id="minutes" class="time"></span>
</div>
<div id="play-pause-container">
    <button id="play" style="display:none"
        class="btn-floating btn-small waves-effect waves-light deep-orange darken-4"><i
            class="material-icons">play_arrow</i></button>
    <button id="pause" class="btn-floating btn-small waves-effect waves-light deep-orange darken-4"><i
            class="material-icons">pause</i></button>
</div>

<div class="row">

    <div id="events-container" class="col s7 m8 offset-l3 l6"></div>

    <div id="specific-time" class="col s5 m4 l3">
        <label class="blue-grey-text text-lighten-5">Looking for a specific time ?</label>
        <p>
            <input type="number" id="specific-hour" min="0" max="23" value="23" />
            <span class="time-separator">:</span>
            <input type="number" id="specific-minute" min="0" max="59" value="59" />

            <button id="specific-search" class="btn-floating btn-small waves-effect waves-light blue"><i
                    class="material-icons">navigate_next</i></button>
        </p>
        <p>
            <a href="{% url 'events-add' %}" class="waves-effect waves-light btn blue hide-on-small-only">
                Add an event</a>
        </p>

        <label class="blue-grey-text text-lighten-5">Time moving every 10s</label>
    </div>
</div>

<div id="event-template" class="event">
    <blockquote>
        <p class="event-text"></p>
        <label><a class="event-source" href="#" target="_blank"></a></label>
    </blockquote>
</div>

<div class="fixed-action-btn hide-on-med-and-up">
    <a class="btn-floating btn-large blue" href="{% url 'events-add' %}">
        <i class="large material-icons">add</i>
    </a>
</div>


{% endblock %}

{% block custom_script %}
{{ block.super }}
<script type="text/javascript" src="{% static 'main/home.js' %}"></script>
{% endblock %}